[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python manage.py runserver 192.168.33.10:8080"
