{% extends 'todoapp/base.html' %}
{% block title %}詳細ページ{% endblock %}

{% block content %}
<div id="task-detail">
  <div class="row">
    <div id="sidebar" class="col-3"></div>
    <div id="main-content" class="col-9">
      <div class="row mt-4 no-margins">
        <div class="col-1 col-sm-1"></div>
        <div class="col-9 col-sm-9 border-bottom border-dark">
          {% if task.conditions == 1 %}
          <h3 class="task-title1 pb-2">{{ task.title }}</h3>
          {% elif task.conditions == 2 %}
          <h3 class="task-title2 pb-2">{{ task.title }}</h3>
          {% elif task.conditions == 3 %}
          <h3 class="task-title3 pb-2">{{ task.title }}</h3>
          {% endif %}
        </div>
        <div class="col-sm-2 border-bottom border-dark"></div>
      </div>
      <div class="row mt-5">
        <div class="col-1 col-sm-1 no-paddings"></div>
        <div class="col-6 col-sm-5 no-paddings">
          <p class="detail-font">
          {{ task.content | linebreaksbr | urlize }}
        </p>
        </div>
        <div class="col-1 col-sm-2 no-paddings"></div>
        <div class="col-4 col-sm-2 no-paddings">
          <p class="shortcut-title">Shortcut MENU</p>
          <ul class="shortcut-menu">
            <li class="mt-1"><a href="{% url 'todoapp:task_lists' category_pk=category_pk %}">戻る</a></li>
            <li class="mt-1"><a href="{% url 'todoapp:task_update' category_pk=category_pk task_pk=task.pk %}">編集</a></li>
            <li class="mt-1"><a href="{% url 'todoapp:task_create' category_pk=category_pk %}">追加</a></li>
            <li class="mt-1"><a style="cursor:pointer;" data-toggle="modal" data-target="#deleteModal">削除</a></li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-font"><div class="modal-title" id="myModalLabel">削除確認画面</div></h3>
              </div>
              <div class="modal-body">
                  <label class="modal-font">本当にデータを削除しますか？</label>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                  <a class="delete2" href="{% url 'todoapp:task_delete' category_pk=category_pk task_pk=task.pk %}"><button type="button" class="btn btn-danger">削除</button></a>
              </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-1 col-sm-1"></div>
        <div class="col-10 col-sm-3">
          <p>状態：{{ task.get_conditions_display }}</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-1 col-sm-1"></div>
        <div class="col-10 col-sm-3">
          <p>作成日：{{ task.created_at }}</p>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
    <div id="sidebar-content">
      <div class="sidebar-content-title pb-3 pt-3">
        <h3>Category</h3>
      </div>
      <ul class="ml-2 mt-3 no-paddings">
        {% for item in categorys %}
          {% if item.pk == category_pk %}
            <li class="pt-2 task-select pl-1"><a class="sidebar-link-select" href="{% url 'todoapp:task_lists' category_pk=item.pk %}">{{ item.text }}</a></li>
          {% else %}
            <li class="pt-2 pl-1"><a class="sidebar-link" href="{% url 'todoapp:task_lists' category_pk=item.pk %}">{{ item.text }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
